* {
	box-sizing: border-box;
}

body {
	font: 16px 'Raleway', sans-serif;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
}

.features-block {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 4.7rem;
}

.features-content {
	display: flex;
	max-width: 300px;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.features-block-img {
	margin-top: 1rem;
	width: 63px;
}

.features-title {
	margin-top: 2.2rem;
	font-size: 0.87rem;
	font-weight: 700;
	text-transform: uppercase;
}

.features-text {
	padding: 1.6rem 1.8rem 4.7rem 1.8rem;
	font-size: 0.87rem;
	color: #80858b;
}




